<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
{{ id}} <br/>
{% for list in List_list %}
	{{list.Object.name}} {{list.id}} {{list.Object.position}}<br/>
{% endfor  %}
<br/>
{% for list in Task_list %}
	{{list.Object.name}} {{list.id}} {{list.Object.position}}<br/>
{% endfor  %}
</html>


<table border="1"><tr>
{% for list in List_list %}
<td>{{ list.show }}
<br/>
<table border="1">
{% for task in Task_list %}
{% if task.List_id == list.id %}
<tr><td>
{{task.Object.name}} {{task.id}} {{task.Object.position}}</td></tr>
{% endif %}
{% endfor %}
<tr><td>NEW TASK</td></tr>
</table>
</td>
{% endfor %}
<td>Add new List</td>
</tr></table>
<p id="what"></p>
<button onclick="PRNT()">click</button>
<script>
	function PRNT() {
	 var resultFEs = jQuery.parseJSON( {{List_list|safe}} );
	document.getElementById("what").innerHTML = "you noob";
	}
</script>



