<!DOCTYPE html>
<html>
	<head>
		<title>Trololo</title>
		<style>
			@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|Raleway');
		</style>
		<link href="D:\Trololo\Trololo\Trollo\Templates\Trollo\styl2.css" type="text/css" rel="stylesheet">
	</head>

<body>
	<div class="header">
		<h1>TROLOLO</h1>
	</div>
	<div class="proj">
		
	</div>
	<div class="panel">
		<div class="btn">
			<ul>
				<li>Add</li>
				<li>Delete</li>
				<li>Change Name</li>
				<li>Up</li>
				<li>Down</li>
			</ul>
		</div>
	</div>



</body>
</html>