<!DOCTYPE html>
<html>
	<head>
		<title>Trololo</title>
		<style>
			@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
			@import url('https://fonts.googleapis.com/css?family=Monoton|Raleway');
		</style>
		<link href="D:\Trololo\Trololo\Trollo\Templates\Trollo\styl1.css" type="text/css" rel="stylesheet">
	</head>
<body>
	<div class="header">
		<h1>Trololo</h1>
	</div>
	<div class="panel">
		<div class="btn">
		<h3>Add</h3>
		</div>
		<div class="btn">
		<h3>Delete</h3>
		</div>
		<div class="btn">
		<h3>Change name</h3>
		</div>
		<div class="btn">
		<h3>Change description</h3>
		</div>
		<div class="btn">
		<h3>Up</h3>
		</div>
		<div class="btn">
		<h3>Down</h3>
		</div>
	</div>
	<div class="proj">
		<h2>Nazwa projektu</h2>
		<p>Opis projektu</p>	
	</div>
	



</body>
</html>