
body{
	background-color: #2A3132;
	color: #FFF;
	margin:	0;
	font-family: 'Amatic SC', cursive;
	font-family: 'Raleway', sans-serif;
	margin: 0;
	
}
.header{
	background-color: #336B87;
	padding: 0px;
	font-weight: 900;
	font-size: 1em;
	overflow-y: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	text-align: center;
	width: 100%;
}
.panel{
	background-color:#336B87;
	float: left;
	padding: 0px 60px;
	box-sizing: border-box;
	padding: 40px;
	position: fixed;
	left: 0;
	top: 80px;
	text-align: left;
	width: 30%;
	z-index: 2;
}
ul {
  margin: 30px auto;
  text-align: left;
}
li {
  color: #FFF;
  display: inline-block;
  font-size: 20px;
  text-align: left;
  font-weight: 300;
  padding: 0 40px;
}
.proj{
	background-color: #763626;
	border-radius: 80%;
	
}
.btn{
	background-color: #90AFC5;
	border-radius: 10px;
	z-index: 3;
}
